@page
@model AdminUserListModel

<div>
    <div class="p-2 text-center text-2xl font-bold my-2 bg-gray-100 rounded-sm shadow-sm">
        <h1>Administration</h1>
    </div>
</div>
<div>
    <div class="bg-gray-50 shadow-lg border border-sm">
        <div class="p-2 text-center text-xl bg-gray-100 rounded-sm shadow-sm">
            <h1>User List</h1>
        </div>
        <div class="grid grid-cols-4 p-2 text-lg font-bold">
            <p>ID</p>
            <p class="text-right">Username</p>
            <p class="text-right">Email</p>
            <p class="text-right">Editor</p>
        </div>
        @foreach (IdentityUser u in Model.Users)
        {
            <div class="grid grid-cols-4 p-2 bg-white">
                <p class="">@u.Id</p>
                <p class="text-right">@u.UserName</p>
                <p class="text-right">@u.Email</p>
                <div class="text-right">
                    <a asp-page="AdminEditUser" asp-route-id="@u.Id" asp-route-mode="edit" class="text-center bg-gray-50 px-2 py-1 text-yellow-700 hover:bg-gray-100 hover:text-yellow-500 rounded-sm">Edit</a>
                </div>
                
            </div>
        }
        <div class="w-full text-center">
            <a asp-page="AdminCreateUser" class="bg-gray-50 text-lg text-green-600 block w-full hover:bg-white hover:text-green-700">Create</a>
        </div>
    </div>
</div>

@functions {
    public class AdminUserListModel: AdminPageModel
    {
        // Field Entities
        public UserManager<IdentityUser> UserManager;
        public IEnumerable<IdentityUser> Users {get; set;}

        // Constructors
        public AdminUserListModel(UserManager<IdentityUser> userManager)
        {
            UserManager = userManager;
        }
        

        // Methods
        public void OnGet()
        {
            Users = UserManager.Users;
        }

    }
}