<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Personal Budgeting App | A free web application to track your monthly budgets."/>
        <meta name="robots" content="index,follow"/>
        <link rel="stylesheet" href="/css/output.css">
        <title>Personal Budgeting App | @ViewData["PageName"]</title>
    </head>
    <body class="bg-white">
        @if (User.Identity.IsAuthenticated)
        {
            <vc:authenticated-nav-bar/>
        }
        else 
        {
            <header class="text-gray-900 bg-white body-font shadow-lg">
                <div class="container mx-auto flex flex-wrap px-5 py-2 flex-col md:flex-row items-center">
                    <a class="flex title-font font-medium items-center text-black md:mb-0 hover:underline" asp-page="/">
                        <div class="w-4/12 flex-1 flex justify-center items-center">
                            <img class="w-2/12" src="/icons/iconmonstr-banknote-19-240.png">
                            <p class="text-2xl font-bold text-green-600 ml-5">Personal Budgeting App</p>
                        </div>
                    </a>
                    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                        <a asp-page="/Account/Register" class="mr-5 hover:underline hover:text-gray-600">Register</a>
                        <a asp-page="/Account/Login" class="mr-5 hover:underline hover:text-gray-600">Login</a>
                        <a href="#">Demo </a>
                    </nav>
                </div>
            </header>
        }
        <section class="m-1 p-1 text-black md:mx-20 min-h-full">
            @RenderBody()
        </section>
        <section class="mt-16 mb-2">
            @if (User.IsInRole("Admin"))
            {
                <vc:administrator-footer/>
            }
        </section>

    </body>
</html>