<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Personal Budgeting App | A free web application to track your monthly budgets."/>
        <meta name="robots" content="index,follow"/>
        <link rel="stylesheet" href="/css/output.css">
        <title>Person Budgeting App | @ViewData["PageName"]</title>
    </head>
    <body>
        <section class="m-2 p-2">
            @RenderBody()
        </section>
    </body>
</html>