@page

<div class="flex flex-col justify-center items-center bg-gray-50 mt-10 py-10 rounded-sm border border-red-100 shadow-lg">
    <div>
        <h1 class="text-3xl font-bold mb-10 text-red-500">Error 404 - Page not found</h1>
    </div>
    <div>
        <a href="/" class="bg-gray-200 py-2 px-2 text-lg rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300">OK</a>
        <a asp-page="Login" class="bg-red-200 py-2 px-2 text-lg rounded-lg shadow-lg hover:shadow-xl hover:bg-red-300">Logout</a>
    </div>
</div>