@model IQueryable<Budget>

<div>
    <h1 class="text-white">Budget List</h1>
</div>

<ul>
    @foreach (Budget b in Model)
    {
        <li class="text-white">
            @b.Description ||| @b.StartDate.ToString("MMM dd yyyy") ||| @b.EndDate.ToString("MMM dd yyyy")
        </li>
    }
</ul>

